In [1]:
import pandas as pd

In [2]:
apple = pd.read_csv(r'C:\Users\shant\Stock Market\AAPL.csv')
facebook = pd.read_csv(r'C:\Users\shant\Stock Market\FB.csv')
google = pd.read_csv(r'C:\Users\shant\Stock Market\GOOGL.csv')
nvidia = pd.read_csv(r'C:\Users\shant\Stock Market\NVDA.csv')
tesla = pd.read_csv(r'C:\Users\shant\Stock Market\TSLA.csv')
twitter = pd.read_csv(r'C:\Users\shant\Stock Market\TWTR.csv')

In [3]:
apple.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.406782  117258400
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.385558   43971200
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.357260   26432000
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.366103   21610400
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.376715   18362400